#image{
    size: 50%;
    width: 100%;
    height: auto;
    display: block;
    border-radius: 50%
  }
  #title{
    text-align: center;
    color: #8B0000;
  }
  #img-caption{
    text-align: center;
    font-size: 125%;
    color: #8B0000; 
  }
  body{
    background-color: gray;
    text-align: justify;
  }